@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&family=Open+Sans:wght@600;700&family=Oswald:wght@300;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  font-family: "Roboto", sans-serif;
}
.wrapper .header .header-container {
  background-color: #3B3B3B;
}
.wrapper .header .header-container .header-contacts {
  background-color: #3B3B3B;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 40px;
  align-items: center;
  font-size: 14px;
  padding: 0 350px;
}
@media (max-width: 1325px) {
  .wrapper .header .header-container .header-contacts {
    padding: 0 170px;
  }
}
@media (max-width: 1280px) {
  .wrapper .header .header-container .header-contacts {
    padding: 0 80px;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .wrapper .header .header-container .header-contacts {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .wrapper .header .header-container .header-contacts {
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .wrapper .header .header-container .header-contacts {
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}
.wrapper .header .header-container .header-contacts p {
  color: white;
  padding: 0 10px;
}
.wrapper .header .header-container .header-contacts a:link,
.wrapper .header .header-container .header-contacts a:visited {
  color: #D07358;
  padding: 0 10px;
}
.wrapper .header .header-container .header-contacts .contacts-address {
  padding: 5px 0;
}
.wrapper .header .header-container .header-contacts .contacts-number {
  display: flex;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .wrapper .header .nav-container {
    display: none;
  }
}
.wrapper .header .nav-container .header-nav {
  padding: 10px 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 1325px) {
  .wrapper .header .nav-container .header-nav {
    padding: 0 170px;
  }
}
@media (max-width: 1280px) {
  .wrapper .header .nav-container .header-nav {
    padding: 0 80px;
  }
}
@media (max-width: 992px) {
  .wrapper .header .nav-container .header-nav {
    padding: 0 10px;
  }
}
.wrapper .header .nav-container .header-nav .nav-logo {
  padding: 10px;
}
.wrapper .header .nav-container .header-nav .nav-logo .logo-img {
  max-width: 220px;
  max-height: 50px;
}
.wrapper .header .nav-container .header-nav .nav .nav-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .wrapper .header .nav-container .header-nav .nav .nav-ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .header .nav-container .header-nav .nav .nav-ul .nav-li {
  padding: 5px 15px;
}
@media (max-width: 768px) {
  .wrapper .header .nav-container .header-nav .nav .nav-ul .nav-li {
    padding: 10px 0;
    font-size: large;
  }
}
.wrapper .header .nav-container .header-nav .nav .nav-ul .nav-li a,
.wrapper .header .nav-container .header-nav .nav .nav-ul .nav-li a:visited {
  color: black;
}
.wrapper .header .nav-slider {
  display: none;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .wrapper .header .nav-slider {
    display: block;
    padding: 10px 20px;
  }
}
.wrapper .header .nav-slider .header-nav .nav-logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.wrapper .header .nav-slider .header-nav .nav-logo .logo-img {
  max-width: 220px;
  max-height: 50px;
}
.wrapper .header .nav-slider .header-nav .nav-swiper .nav-ul-swiper .nav-li-swiper {
  color: black;
  padding: 5px 0;
}
.wrapper .header .nav-slider .header-nav .nav-swiper .nav-ul-swiper .nav-li-swiper a,
.wrapper .header .nav-slider .header-nav .nav-swiper .nav-ul-swiper .nav-li-swiper a:visited {
  color: black;
}
.wrapper .main .banner {
  max-width: 100%;
  min-height: 700px;
}
@media (max-width: 480px) {
  .wrapper .main .banner {
    display: none;
  }
}
.wrapper .main .banner .banner-container {
  position: relative;
  text-align: center;
}
.wrapper .main .banner .banner-container img {
  width: 1325px;
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main .banner .banner-container .banner-texts {
  max-width: 23%;
  position: absolute;
  float: left;
  top: 20%;
  left: 20%;
}
@media (max-width: 1325px) {
  .wrapper .main .banner .banner-container .banner-texts {
    top: 20%;
    left: 10%;
    max-width: 440px;
    width: 100%;
  }
}
@media (max-width: 680px) {
  .wrapper .main .banner .banner-container .banner-texts {
    left: 5%;
  }
}
.wrapper .main .banner .banner-container .banner-texts .banner-text {
  font-size: 72px;
  line-height: 85px;
  font-weight: 300;
  text-align: left;
}
.wrapper .main .mini-banner {
  display: none;
}
@media (max-width: 480px) {
  .wrapper .main .mini-banner {
    display: block;
  }
}
.wrapper .main .mini-banner .mini-banner-container .mini-banner-texts {
  background-color: #000000;
}
.wrapper .main .mini-banner .mini-banner-container .mini-banner-texts img {
  height: 700px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  opacity: 0.6;
}
.wrapper .main .mini-banner .mini-banner-container .mini-banner-texts .mini-banner-text {
  max-width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  left: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .main .mini-banner .mini-banner-container .mini-banner-texts .mini-banner-text .mini-banner-text-1,
.wrapper .main .mini-banner .mini-banner-container .mini-banner-texts .mini-banner-text .mini-banner-text-2 {
  font-size: 24px;
  font-weight: 500;
}
.wrapper .main .mini-banner .swiper-button-prev::after,
.wrapper .main .mini-banner .swiper-button-next::after {
  color: black;
  font-size: 20px;
  opacity: 0.6;
}
.wrapper .main .about {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 140px;
}
@media (max-width: 1280px) {
  .wrapper .main .about {
    padding: 50px;
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .about {
    padding: 30px;
    font-size: 20px;
    line-height: 10px;
  }
}
.wrapper .main .about .about-texts {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
@media (max-width: 1280px) {
  .wrapper .main .about .about-texts {
    padding: 10px;
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .about .about-texts {
    padding: 10px;
    font-size: 20px;
    line-height: 10px;
  }
}
.wrapper .main .about .about-texts .about-title {
  font-weight: 600;
  line-height: 35px;
  max-width: 390px;
  padding-bottom: 30px;
}
.wrapper .main .about .about-texts .about-text {
  font-weight: 300;
  color: #787878;
  line-height: 32px;
  max-width: 800px;
}
.wrapper .main .about .about-slider {
  display: flex;
  justify-content: center;
}
@media (max-width: 960px) {
  .wrapper .main .about .about-slider {
    display: flex;
    flex-wrap: wrap;
  }
}
.wrapper .main .about .about-slider div {
  width: 450px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  max-height: 350px;
}
@media (max-width: 960px) {
  .wrapper .main .about .about-slider div {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(50% - 20px);
  }
}
.wrapper .main .about .about-slider div .about-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1280px) {
  .wrapper .main .about .about-slider div .about-img {
    height: auto;
  }
}
.wrapper .main .directions {
  padding: 100px 0;
  background-color: #BDA082;
  margin: 0 auto;
}
.wrapper .main .directions .directions-title {
  text-align: center;
  padding-bottom: 50px;
}
.wrapper .main .directions .directions-title p {
  color: white;
  font-size: 38px;
  font-weight: 600;
}
@media (max-width: 1280px) {
  .wrapper .main .directions .directions-title p {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .directions .directions-title p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .wrapper .main .directions .directions-title p {
    font-size: 20px;
  }
}
.wrapper .main .directions .directions-container {
  max-width: 100%;
  margin: 0 100px;
}
@media (max-width: 1280px) {
  .wrapper .main .directions .directions-container {
    margin: 0;
  }
}
.wrapper .main .directions .directions-container .directions-sliders .slider {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info {
  max-width: 350px;
  height: 730px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .wrapper .main .directions .directions-container .directions-sliders .slider .slider-info {
    max-width: 300px;
    height: 680px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .directions .directions-container .directions-sliders .slider .slider-info {
    max-width: 300px;
    height: 640px;
    font-size: 23px;
    line-height: 10px;
  }
}
@media (max-width: 400px) {
  .wrapper .main .directions .directions-container .directions-sliders .slider .slider-info {
    max-width: 290px;
    width: 100%;
  }
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-img-content {
  flex: 1 1 auto;
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-img-content img {
  max-width: 100%;
  max-height: 350px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 1280px) {
  .wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-img-content img {
    max-width: 300px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-img-content img {
    max-width: 290px;
    width: 100%;
  }
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-img-content .slider-content {
  padding: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  font-weight: 600;
  max-width: 250px;
  line-height: 25px;
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-img-content .slider-content ul {
  font-size: 14px;
  padding: 15px 20px;
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-img-content .slider-content ul li {
  line-height: 20px;
  font-weight: 300;
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-buttons {
  padding: 15px;
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-buttons .button-about {
  height: 35px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 13px;
  font-weight: 600;
  color: white;
  background-color: black;
}
.wrapper .main .directions .directions-container .directions-sliders .slider .slider-info .slider-buttons .button-contact {
  height: 35px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 13px;
  font-weight: 600;
  color: black;
  background-color: white;
}
.wrapper .main .directions .directions-container .swiper-button-prev::after {
  color: white;
}
.wrapper .main .directions .directions-container .swiper-button-next::after {
  color: white;
}
.wrapper .main .directions .swiper-navigation {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
}
.wrapper .main .specialists {
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0 300px;
}
@media (max-width: 1280px) {
  .wrapper .main .specialists {
    padding: 70px 0 200px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .specialists {
    padding: 60px 0px;
  }
}
@media (max-width: 768px) {
  .wrapper .main .specialists {
    padding: 50px 20px;
  }
}
@media (max-width: 480px) {
  .wrapper .main .specialists {
    padding: 50px 0 50px 50px;
  }
}
@media (max-width: 380px) {
  .wrapper .main .specialists {
    padding: 40px;
  }
}
.wrapper .main .specialists .specialists-title {
  margin: 50px 50px 50px 0;
}
.wrapper .main .specialists .specialists-title p {
  font-size: 42px;
  font-weight: 600;
}
@media (max-width: 1280px) {
  .wrapper .main .specialists .specialists-title p {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .specialists .specialists-title p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .wrapper .main .specialists .specialists-title p {
    font-size: 20px;
  }
}
.wrapper .main .specialists .specialists-specialists {
  display: grid;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 320px;
  grid-template-columns: minmax(200px, 360px) minmax(200px, 360px) minmax(200px, 360px);
  grid-template-rows: minmax(200px, 350px) minmax(200px, 350px);
}
@media (max-width: 1280px) {
  .wrapper .main .specialists .specialists-specialists {
    grid-column-gap: 20px;
    grid-row-gap: 310px;
    grid-template-columns: minmax(180px, 320px) minmax(180px, 320px) minmax(180px, 320px);
    grid-template-rows: minmax(180px, 310px) minmax(180px, 320px);
  }
}
@media (max-width: 992px) {
  .wrapper .main .specialists .specialists-specialists {
    grid-column-gap: 20px;
    grid-row-gap: 250px;
    grid-template-columns: minmax(200px, 360px) minmax(200px, 360px);
    grid-template-rows: minmax(200px, 350px) minmax(200px, 350px);
  }
}
@media (max-width: 768px) {
  .wrapper .main .specialists .specialists-specialists {
    grid-column-gap: 20px;
    grid-row-gap: 255px;
    grid-template-columns: minmax(200px, 360px) minmax(200px, 360px);
    grid-template-rows: minmax(200px, 320px) minmax(200px, 350px);
  }
}
@media (max-width: 480px) {
  .wrapper .main .specialists .specialists-specialists {
    grid-column-gap: 20px;
    grid-row-gap: 240px;
    grid-template-columns: minmax(200px, 350px);
    grid-template-rows: minmax(100px, 320px) minmax(100px, 350px) minmax(100px, 320px) minmax(100px, 320px) minmax(100px, 320px);
  }
}
@media (max-width: 380px) {
  .wrapper .main .specialists .specialists-specialists {
    grid-row-gap: 180px;
  }
}
.wrapper .main .specialists .specialists-specialists .specialist {
  text-align: left;
  max-width: 360px;
}
@media (max-width: 1280px) {
  .wrapper .main .specialists .specialists-specialists .specialist {
    max-width: 300px;
  }
}
.wrapper .main .specialists .specialists-specialists .specialist .specialist-img img {
  max-width: 360px;
}
@media (max-width: 1280px) {
  .wrapper .main .specialists .specialists-specialists .specialist .specialist-img img {
    max-width: 300px;
    width: 100%;
  }
}
.wrapper .main .specialists .specialists-specialists .specialist .specialist-title {
  max-width: 250px;
  font-size: 22px;
  margin: 20px 0;
  line-height: 30px;
  font-weight: 600;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .wrapper .main .specialists .specialists-specialists .specialist .specialist-title {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .wrapper .main .specialists .specialists-specialists .specialist .specialist-title {
    line-height: 25px;
  }
}
.wrapper .main .specialists .specialists-specialists .specialist hr {
  border: 1px solid #BDA082;
  width: 50px;
  border-width: 1.1px;
  background-color: #BDA082;
}
.wrapper .main .specialists .specialists-specialists .specialist .specialist-description {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  padding: 25px 0;
}
@media (max-width: 1280px) {
  .wrapper .main .specialists .specialists-specialists .specialist .specialist-description {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .wrapper .main .specialists .specialists-specialists .specialist .specialist-description {
    line-height: 20px;
    font-size: 13px;
  }
}
.wrapper .main .price-list-block {
  color: white;
  text-align: center;
  max-width: 100%;
  padding: 110px 0;
  background-color: #BDA082;
}
.wrapper .main .price-list-block .price-title p {
  font-weight: 600;
  font-size: 42px;
  padding-bottom: 50px;
}
@media (max-width: 1280px) {
  .wrapper .main .price-list-block .price-title p {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .price-list-block .price-title p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .wrapper .main .price-list-block .price-title p {
    font-size: 20px;
  }
}
.wrapper .main .price-list-block .price {
  text-align: left;
  max-width: 100%;
}
.wrapper .main .price-list-block .price .price-list {
  list-style-type: none;
}
.wrapper .main .price-list-block .price .price-list .price-list-item .last-border {
  border-bottom: 0.8px solid rgb(255, 255, 255);
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-title {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
  border-top: 0.8px solid rgb(255, 255, 255);
}
@media (max-width: 1280px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-title {
    margin: 0 80px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-title {
    margin: 0 50px;
  }
}
@media (max-width: 768) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-title {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-title p {
    font-size: 15px;
  }
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-title .price-list-item-plus {
  color: white;
  width: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #000000;
  border-color: transparent;
  transition: transform 0.6s linear;
}
@media (max-width: 430px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-title .price-list-item-plus {
    width: 30px;
    font-size: 18px;
  }
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content {
  font-size: 18px;
  max-width: 100%;
  background-color: #fff;
  color: black;
  overflow: hidden;
  transition: height 0.6s ease-in-out;
  height: 0px;
}
@media (max-width: 768px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content {
    font-size: 15px;
    line-height: 1.4;
  }
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1280px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content {
    max-width: 900px;
  }
}
@media (max-width: 992) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content {
    max-width: 600px;
    padding: 0 60px;
  }
}
@media (max-width: 768) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content {
    max-width: 500px;
    padding: 0 25px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content {
    padding: 0 50px;
  }
}
@media (max-width: 420px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content {
    padding: 0 40px;
  }
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content .content-label {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content .content-label {
    font-size: 15px;
  }
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content table {
  font-weight: 300;
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content table td {
  border-bottom: 1px solid rgb(170, 170, 170);
}
@media (max-width: 460px) {
  .wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content table th {
    word-break: break-all;
    height: 30px;
    font-size: 14px;
  }
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content table th,
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content table td {
  padding: 20px 0;
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content table .table-tr {
  max-width: 200px;
}
.wrapper .main .price-list-block .price .price-list .price-list-item .price-list-item-content .price-content p {
  font-weight: bold;
}
.wrapper .main .results {
  background-color: #EFEFEF;
  padding: 5%;
}
@media (max-width: 1280px) {
  .wrapper .main .results {
    padding: 70px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .results {
    padding: 50px;
  }
}
.wrapper .main .results .results-title {
  text-align: center;
}
.wrapper .main .results .results-title p {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 90px;
}
@media (max-width: 1280px) {
  .wrapper .main .results .results-title p {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .wrapper .main .results .results-title p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .wrapper .main .results .results-title p {
    font-size: 20px;
  }
}
.wrapper .main .results .results-slider .results-elements .result {
  display: flex;
  justify-content: center;
}
.wrapper .main .results .results-slider .results-elements .result img {
  max-width: 360px;
  width: 100%;
}
@media (max-width: 1280px) {
  .wrapper .main .results .results-slider .results-elements .result img {
    max-width: 330px;
    width: 100%;
  }
}
@media (max-width: 1192px) {
  .wrapper .main .results .results-slider .results-elements .result img {
    max-width: 280px;
    width: 100%;
  }
}
@media (max-width: 970px) {
  .wrapper .main .results .results-slider .results-elements .result img {
    max-width: 230px;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .wrapper .main .results .results-slider .results-elements .result img {
    max-width: 300px;
    width: 100%;
  }
}
.wrapper .main .results .results-slider .swiper-button-next {
  color: white;
  right: 0;
}
.wrapper .main .results .results-slider .swiper-button-prev {
  color: white;
  left: 0;
}
.wrapper .footer .footer-content {
  display: flex;
  background-color: #292929;
}
@media (max-width: 768px) {
  .wrapper .footer .footer-content {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
  }
}
.wrapper .footer .footer-content .footer-map {
  width: 50%;
  height: 720px;
}
@media (max-width: 1280px) {
  .wrapper .footer .footer-content .footer-map {
    max-width: 700px;
    width: 100%;
    max-height: 500px;
  }
}
@media (max-width: 768px) {
  .wrapper .footer .footer-content .footer-map {
    max-width: 768px;
    width: 100%;
    max-height: 320px;
  }
}
.wrapper .footer .footer-content .footer-contacts {
  text-align: left;
  padding: 200px 100px 110px 80px;
  font-size: 28px;
  color: white;
}
@media (max-width: 1280px) {
  .wrapper .footer .footer-content .footer-contacts {
    padding: 50px;
  }
}
@media (max-width: 768px) {
  .wrapper .footer .footer-content .footer-contacts {
    max-width: 768px;
    max-height: 320px;
    padding: 30px;
  }
}
.wrapper .footer .footer-content .footer-contacts .contacts {
  font-weight: 600;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .wrapper .footer .footer-content .footer-contacts .contacts {
    font-size: 25px;
    line-height: 20px;
    padding: 10px 0;
  }
}
.wrapper .footer .footer-content .footer-contacts .numbers {
  font-size: 25px;
  font-weight: 300;
  padding: 20px 0;
  line-height: 35px;
}
.wrapper .footer .footer-content .footer-contacts .numbers a:link,
.wrapper .footer .footer-content .footer-contacts .numbers a:visited {
  color: #D07358;
}
@media (max-width: 768px) {
  .wrapper .footer .footer-content .footer-contacts .numbers {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0;
  }
}
.wrapper .footer .footer-content .footer-contacts .address {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
@media (max-width: 768px) {
  .wrapper .footer .footer-content .footer-contacts .address {
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0;
  }
}
@media (max-width: 600px) {
  .wrapper .footer .footer-content .footer-contacts .address {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */